{% extends 'base.html' %}
{% block content %}
    <section>
        <h1>Файл:{{ files.title }}</h1>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Подпись: {{ files.title }}</h5>
    <p class="card-text">Скачать: <a href="{{ files.file.url }}">{{ files.file }}</a></p>
      {% if files.author %}
          <p class="card-text">Автор: <a href="{% url 'accounts:user_detail' files.author_id %}">{{ files.author}}</a></p>
          {% else %}
          <p class="card-text">Автор: Аноним</p>
      {% endif %}
      <p class="card-text">Добавлен: {{ files.created_at}}</p>
  {% if perms.webapp.change_file or files.author == request.user %}
      <p class="card-text">Доступ: {{ files.access}}</p>
        <a href="{% url 'webapp:file_update' files.pk %}" class="btn btn-primary">Редактировать</a>
      <a href="{% url 'webapp:file_delete' files.pk %}" class="btn btn-success">Удалить</a>
  {% endif %}
  </div>
</div>
    {% for user in users %}
{#<li data-id="{{ user.id }}" class="privateadd" data-type="user-pk">#}
{#{{ user.first_name }}#}
{#    {{ user.id }}#}
{#    <a href="#">Добавить</a></li>#}
{#{%endfor%}#}
    <div id="favorites-button-{{ product.pk }}" class="mt-2">
        <a href="{% url "webapp:add_to_favorites" %}"
           id="add-to-favorites-{{ user.pk }}"
           class="btn btn-success favorites-add
                  {% if favorite %}d-none{% endif %}"
           data-product-pk="{{ user.pk }}">Добавить в приват {{ user.first_name }}</a>
        <a href="{% url "webapp:delete_from_favorites" %}"
           id="delete-from-favorites-{{ user.pk }}"
           class="btn btn-danger favorites-delete
                 {% if not favorite %}d-none{% endif %}"
           data-product-pk="{{ user.pk }}">Удалить из привата {{ user.first_name }}</a>
</div>
    {% endfor %}

{#    {% if request.user.is_authenticated %}#}
{#            {% include 'partial/favorites_buttons.html' %}#}
{#        {% endif %}#}

    </section>

            <hr/>
{% endblock %}